.success{
    background-color:#00ffff ;
transition: 1s;

}
h1{
    text-align: center;
    font-size: 300%;
}
#name{
text-align: center;
font-size: 500%;
color: black;
}
#text{
    width: 600px;
    display: block;
 margin: 0 auto;
font-size: 300%;
height: auto;
}
#miss{
    font-size: 200%;
    display: block;
    margin: 0 auto;
    text-align: center;
}
#btn{
    display: block;
    margin: 20px auto;
}